.paul{
    text-align: center;
    background-color: yellow;
}
.ian{
    text-align: center;
    background-color:burlywood;
}
.dave{
    background-color: blue;
}
.vin{
    background-color:orange;}